.kmaps-hidden {
	visibility: hidden;
	display: none;
}

body {
  font-size: inherit;
}

/* Subject Overview image subsection */

figcaption .center-caption {
  text-align: center;
  margin-bottom: 0.50em;
}

.subjects-overview-image figure {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 20px 20px 0;
}

.subjects-overview-image figcaption {
  position: absolute;
  background: black;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

.subjects-overview-image figure:hover figcaption {
  opacity: 1;
}

.subjects-overview-image figure:before {
  content: "?";
  position: absolute;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}

.subjects-overview-image figure:hover:before {
  opacity: 0;
}

.subjects-overview-image .cap-bot:before { bottom: 10px; left: 10px; }
.subjects-overview-image .cap-bot figcaption { left: 0; bottom: -30%;}
.subjects-overview-image .cap-bot:hover figcaption { bottom: 0; }

/* Popovers for subjects and places */
.popover-kmaps{background:#5a65d1;border:none;height:1rem;width:1.05rem;color:white;padding:0;display:inline-block;position:relative;left:0;top:.1rem;margin-left:.6rem;margin-right:.4rem;font-size:1rem;}
.popover-kmaps-tip{border-bottom:.5rem solid transparent;border-top:0 solid transparent;border-right:.5rem solid #5a65d1;font-size:0;position:relative;bottom:1rem;right:.5rem;height:0;width:0;}
.popover-kmaps .icon{ color:white; /*font-size:.7rem*/;position:absolute;bottom: 0.2rem; right: 0.2rem; font-size:0.7em;}
.popover-kmaps .popover-footer-button a{ color:#ddd; font-weight:normal; font-family: "museo-sans-500",helvetica,arial,sans-serif !important; border-bottom:none; display:block; width:100%; font-size:1.06em; line-height:2.25em; height: 2.75em;}
.popover-kmaps .parents strong{ color: #555; font-family:'museo-sans-500',helvetica,arial,sans-serif;}

