


.modal-header button.close{ color:#777; font-size:5em !important; position:relative; top:0;}

/* .breadwrap ol li:last-child{ position:relative;top:-0.93em;} */

/* --- gmaps-buttons is example of class set on div wrapper ---*/
.btn-group-gmaps{ display:inline-block;	position:absolute;top:600px;left:80px;-moz-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);}
.btn-group-gmaps.btn-group > .btn.btn-default{ border:none;/*font-family:'droidserif',palatino,'Palatino Linotype',georgia,serif;*/}
.btn-group-gmaps .btn.btn-default.active{ color:#fff; background:#606060; }

.google-maps {position: relative;padding-bottom: 75%; margin-bottom:1.5rem; /* aspect ratio fix - temp */ height: 0;overflow: hidden;}
.google-maps iframe {position: absolute;top: 0;left: 0;width: 100% !important;height: 100% !important;}

.container-narrow > hr { margin: 3% 0;}
